<div class="bg">
    <div class="parent">
        <div class="child">
            <div nz-row class="imgDiv">
                <div nz-col nzSpan="24">
                    <h1 style="margin-left: 100px;">Войти</h1>
                </div>
            </div>
            <form nz-form [formGroup]="validateForm" class="Login-form" (ngSubmit)="submitForm">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Пожалуйста введите свой Email">
                        <nz-input-group nzPrefixIcon="user">
                            <input type="text" nz-input fornControlName="userName" placeholder="Email"/>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Пожалуйста введите свой Пароль">
                        <nz-input-group nzPrefixIcon="lock">
                            <input type="password" nz-input fornControlName="password" placeholder="Password"/>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Авторизоваться</button>
                Or <a routerLink="/register">Зарегистрируйтесь прямо сейчас!</a>
            </form>
        </div>
    </div>
</div>