<div>
    <section class="main-section">
      <div class="quote-join"><p class="quote"> "Ваши успехи.<br>
          Наша платформа.<br>
          Создавайте.<br>
          Выделяйтесь."</p>
      <p class="join"><a href="/login">Войти</a></p></div>
  </section>
  <section class="pluses">
      <ul class="ul-pluses">
          <li class="plus-item-1"><b>Бесплатный доступ</b><br>
              Иникакого пробного периода.</li>
          <li class="plus-item-2"><b>Онлайн-формат</b><br>
              Ищите и создавайте портфолио в<br>
              любой точке земного шара</li>
          <li class="plus-item-3"><b>Находи работу быстрее</b><br>
              Быстрый отклик от работодателей</li>
      </ul>
  </section>
  </div>
<div class="container">
    <div class="section">
        <div class="header">
            <h1>Добро пожаловать на платформу SAFportfolio</h1>
            <p>Выберите тип пользователя:</p>
        </div>
        <div class="buttons">
            <button nz-button nzType="primary" routerLink="/register_client">
                Зарегистрироваться как рекрутер
            </button>
            <button nz-button nzType="primary" routerLink="/register_company">
                Зарегистрироваться как соискатель
            </button>
        </div>
    </div>
</div>